body,html{margin:0; height:100%; width:100%; }
body{
    /* background-color:#cbcbcb; */
    background-color:#f0f0f0;
    /* background-color: #313535; */
}
.noScrollBar::-webkit-scrollbar{
    width: 0%;
}
#sideBar{
    position:absolute;
    width:20%;
    /* min-width: 270px; */
    height:100%;
    background-color: transparent;
    border-right: solid 5px #141616;
    z-index: 5;
    font-family: sans-serif;
}
#sideTitle{
    position:relative;
    margin:0;
    width:100%;
    height:70px;
    background-color:#141616;
    color:#f0f0f0;
    font-size:50px;
    padding-top: 10px;
    text-align:center;
}
.sideButton{
    position:relative;
    width:100%;
    height:65px;
    border:none;
    border-bottom:solid 3px #141616;
    background-color: transparent;
    color:#141616;
    font-size:200%;
    font-weight: 500;
}
.sideButton:hover{
    cursor:pointer;
    background-color:#dfdfdf;
}
.sideButton:active{
    background-color: #f0f0f0;
}
#amc00{
    width:100%;
    height:100%;
}
#amc01{
    position:relative;
    left:20%;
    width:80%;
    height:100%;
    top:0px
}
#map{
    position:relative;
    left:5px;
    /* margin-left:25px;
    margin-top:25px; */
    margin:25px;
}
#blocks{
    display:inline-block;
    position:relative;
    top:0px;
    margin:25px;
}
#data{
    position:absolute;
}
.dataText{
    position:relative;
    display: none;
    margin-left:15px;
    margin-top:5px;
    width:100%;
    height:20px;
    font-family: sans-serif;
    color:#141616;
}
#selected{
    position:relative;
    margin:25px;
    left:5px;
    color: #afafaf86;
}
#dataOut{
    position:absolute;
    display: inline-block;
    margin:25px;
    width:350px;
    height:400px;
    top:0px;
    border-left: solid 2px #141616;
    overflow-y: scroll;
    word-wrap: break-word;
    overflow-x: hidden;
    background-color: #f0f0f0;
    font-size:16px;
}
#size{
    position: relative;
    display: inline-block;
    margin:25px;
    /* left:5px; */
    background-color: #141616;
    width:84px;
    height:84px;
    color: #f0f0f0;
    font-family: sans-serif;
}
#sizeBtnP{
    position: absolute;
    display: inline-block;
    width:50%;
    height:50%;
    background-color: #f0f0f0;
    border:solid 2px #141616;
    font-size:20px;
    text-align: center;
}
#sizeBtnP:hover{
    cursor:pointer;
    background-color:#dfdfdf;
    color:#141616;
}
#sizeBtnP:active{
    background-color: #f0f0f0;
    color:#141616;
}
#sizeBtnM{
    position: absolute;
    display: inline-block;
    margin-top:50%;
    width:50%;
    height:50%;
    background-color: #f0f0f0;
    border:solid 2px #141616;
    font-size:20px;
    text-align: center;

}
#sizeBtnM:hover{
    cursor:pointer;
    background-color:#dfdfdf;
    color:#141616;
}
#sizeBtnM:active{
    background-color: #f0f0f0;
    color:#141616;
}
#sizeVal{
    position: absolute;
    left:42px;
    width:50%;
    height:100%;
    color:#f0f0f0;
    text-align: center;
    font-size:32px;
}
#general{
    position:relative;
    display: inline-block;
    width:650px;

}
#inspect{
    background-color: #c3c3c3;
}
#getColor{
    color:#cef5f8
}
